
    .daym {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .card  {
        width: 200px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 2cap;
        box-shadow: 5px 5px 5px grey;
        height: 300px;
        margin-top: 20px;
        overflow: hidden;
    }
    .card img {
        width: 100%;
        border-radius: 1cap;
        height: 150px;
        object-fit: cover;
        max-width: auto;
    
    }
    
    
    .card:hover img {
        transform: scale(1.1);
        transition: 0.5s;
    }
    
         .btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            box-shadow: 0 0 20px #F09819;
          }